<html>
    <h1> Employee Information </h1>
    <br>
    <br>
    <a href="{{ url_for('saveEmployee') }}"> New Record </a>

    <form action="{{ url_for('filterRecords') }}" method="POST">
        <select name="role">
            <option value="BC"> Breakfast Chef </option>
            <option value="SC"> Starter Chef </option>
            <option value="MC"> Main Chef </option>
            <option value="DC"> Dessert Chef </option>
            <option value="all"> All Records </option> 
        </select>
        <input type="submit" value="Filter">
    </form>

    <table>
        <tr>
            <td> Name </td>
            <td> Role </td>
            <td> Email </td>
            <td> Mobile Number</td>
        </tr>

        {%  for record in records %}
            <tr>
                <td> <a href="{{ url_for('employeeInformation', employee_id = record.employee_id) }}"> {{ record.name }}</a></td>
                <td> {{ record.role }} </td>
                <td> {{ record.email }} </td>
                <td> {{ record.mobile_num }} </td>
                <td> <a href="{{ url_for('editEmployee', employee_id = record.employee_id) }}"> edit </a>, 
                    <a href="{{ url_for('deletEmployee', employee_id = record.employee_id) }}"> delete </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</html>